<h1>Hope Tutors Angular Training</h1>
<!-- <app-login></app-login> 
<app-pipe-ex></app-pipe-ex> -->

<div class="header">
    <img width="40" alt="Hope tutors Logo"
     scr="https://opensource.google/static/images/projects/os-projects-angular.svg">
    

    <a routerLink ="Customer" class="menulink">Home</a>
    <a routerLink="Pipes" class="menulink">Pipes</a>
    <a routerLink="ContentProjection" class="menulink">ContentProjection</a>
    <a routerLink="ComponentCommunication" class="menulink">Component Communication</a>


    <a routerLink="login" class="menulink Logout">Logout</a>

</div>

<br>
<div class="container-fluid">
    <div class="card-box">
        <router-outlet></router-outlet>
    </div>
</div>